version: 2
jobs:
  build:
    working_directory: ~/project
    docker:
      - image: cimg/go:1.24
    environment:
      TEST_RESULTS: /tmp/test-results
      GOPATH: /home/circleci/go
      GOBIN: /home/circleci/go/bin
      PATH: /home/circleci/go/bin:/usr/local/go/bin:/usr/local/bin:/usr/bin:/bin
    steps:
      - checkout
      - run:
          name: Test Results Dir
          command: mkdir -p $TEST_RESULTS
      - run:
          name: Install tools
          command: |
            go install github.com/jstemmer/go-junit-report@latest
            go install golang.org/x/tools/cmd/cover@latest
            go install github.com/mattn/goveralls@latest
            go mod download
      - run:
          name: Verify installation
          command: |
            echo "GOPATH=$GOPATH"
            echo "GOBIN=$GOBIN"
            echo "PATH=$PATH"
            ls -la $GOBIN/
            which go-junit-report
            go-junit-report --version
      - run:
          name: Start ssh server for tests
          command: go run github.com/raravena80/gotestsshd > /dev/null 2>&1
          background: true
      - run:
          name: Run unit tests and coverage
          command: |
            set +e
            # Generate coverage for all packages and merge them
            echo "mode: atomic" > ${TEST_RESULTS}/coverage.out
            for pkg in $(go list ./...); do
                go test -v -coverprofile=${TEST_RESULTS}/coverage_temp.out $pkg 2>&1 | tee -a ${TEST_RESULTS}/go-test.out
                if [ -f ${TEST_RESULTS}/coverage_temp.out ]; then
                    tail -n +2 ${TEST_RESULTS}/coverage_temp.out >> ${TEST_RESULTS}/coverage.out || true
                fi
            done
            TEST_EXIT=${PIPESTATUS[0]}
            go-junit-report <${TEST_RESULTS}/go-test.out > ${TEST_RESULTS}/go-test-report.xml

            # Filter out main.go and test/ package from coverage
            grep -v "main.go:" ${TEST_RESULTS}/coverage.out > ${TEST_RESULTS}/coverage_filtered.out || true
            grep -v "test/common.go:" ${TEST_RESULTS}/coverage_filtered.out > ${TEST_RESULTS}/coverage_final.out || true
            mv ${TEST_RESULTS}/coverage_final.out ${TEST_RESULTS}/coverage.out

            exit ${TEST_EXIT}
      - run:
          name: Upload coverage to Coveralls
          command: |
            goveralls -coverprofile=${TEST_RESULTS}/coverage.out -service=circleci -repotoken=${COVERALLS_TOKEN}
      - run: make
      - store_test_results:
          path: /tmp/test-results

workflows:
  version: 2
  build:
    jobs:
      - build
